<a href="https://colab.research.google.com/github/halyusa16/py-grinding/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables

In [ ]:
# variable is created the moment i first assign a value to it
# the data type will assigned when it set

x = 16          # will be an int
y = 'Halyusa'   # will be a string
print(x)
print(y)

16
Halyusa

In [ ]:
x = 16
x = 'Halyusa'
print(x)      # it will print the last value it assigned to

Halyusa

In [ ]:
# casting
# if i want to specify the data type of a variable, this can be done with casting
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
# i can get the data type of a variable with type() function
x = 5
y = 'Halyusa'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# variable names are case-sensitive
a = 16
A = 'Halyusa'
print(a)
print(A)

16
Halyusa

In [ ]:
# i can assign many values to multiple variable
x, y, z = 'melon', 'alpukat', 'pisang'
print(x, y, z)

melon alpukat pisang

In [ ]:
# i can also add one value to multiple variables
x = y = z = 'apel'
print(x, y, z)

apel apel apel

In [ ]:
# unpacking a collection of values in a list
fruits = ['melon', 'alpukat', 'pisang']
x, y, z = fruits
print(x, y, z)

melon alpukat pisang

In [ ]:
# while printing using print() function, i can use + operator to output multiple variables
x = 'Halyusa '
y = 'is a '
z = 'Data Engineer'
print(x + y + z)

Halyusa is a Data Engineer

In [ ]:
# while printing, i can also add a mathematical operator
x = 5
y = 10
print(x + y)

15

In [ ]:
# global variable is a variable that created outside a function,
# can be used, inside and outside a function

x = 'Halyusa'

def myfunc():
  print('My name is ' + x)

myfunc()

My name is Halyusa

In [ ]:
# if there is a variable inside a function with the same name with the global variable,
# it will not affect the global variable. and it just can be used inside the function

x = 'Halyusa'

def myfunc():
  x = 'Data Engineer'       # this is the local variable
  print('My name is ' + x)  # the x here will call the local variable

myfunc()  # the function call here will use the local variable since it belongs to the function

print('My name is ' + x)    # the function call here will use the global variable since it located outside the function

My name is Data Engineer
My name is Halyusa

In [ ]:
# i can create a global variable inside a function using the keyword 'global'

def myfunc():
  global x        # this x variable is global
  x = 'Halyusa'

myfunc()

print('My name is ' + x)  # this print will use the global variable assigned inside the function

My name is Halyusa

In [ ]:
# or i can change a global variable inside a function

x = 'Halyusa'

def myfunc():
  global x
  x = 'Data Engineer'

myfunc()

print('My name is ' + x)

My name is Data Engineer

## String

In [ ]:
# i can use single or double quotation marks
# i can use quotes inside a string, as long as it don't match the surrounding quotes
print('Hello, my name is "Halyusa"')

Hello, my name is "Halyusa"

In [ ]:
# i can assign string to a variable
# and i can assign multiple string using three quotes
a = 'Halyusa'
print(a)

b = '''namaku Halyusa
Ard
Wahyudi.'''
print(b)

Halyusa
namaku Halyusa
Ard
Wahyudi.

In [ ]:
# string are arrays, a single character is a string with a length of 1
# index starting at 0
a = 'Halyusa'
print(a[1])

a

In [ ]:
# looping through a string
for x in 'Halyusa':
  print(x)

H
a
l
y
u
s
a

In [ ]:
# length of aa string
a = 'Halyusa'
print(len(a))
print(a[5])

7
s

In [ ]:
# check a certain phrase or character is present in a string, i can use in
txt = 'Halyusa is a Data Engineer'
print('Data' in txt)

True

In [ ]:
txt = 'Halyusa is a Data Engineer'
if 'Data' in txt:
  print('Yes, "Data" is present')

Yes, "Data" is present

In [ ]:
# i can also use not, to check if the certain phrase or character is NOT in a string
txt = 'Halyusa is a Data Engineer'
print('Data' not in txt)
print('data' not in txt)

False
True

In [ ]:
txt = 'Halyusa is a Data Engineer'
if 'data' not in txt:
  print('Yes, "data" is not in txt')

Yes, "data" is not in txt

In [ ]:
# slicing
# print character from index 2 to 5, 5 is not included
b = 'Halyusa'
print(b[2:5])

# slicing from the beginning
print(b[:5])

# slicing to the end
print(b[2:])

# negative indexing, from y in position -4, to s that not included in position -2
print(b[-4:-2])

lyu
Halyu
lyusa
yu

In [ ]:
# modify strings
# upper and lower
a = 'Halyusa'
print(a.upper())
print(a.lower())

# remove whitespace from before and/or after the text
b = ' Halyusa '
print(b.strip())

# replace string
c = 'Halyusa'
print(c.replace('a', 'i'))

# split string
# returns a list, where the text between the specified separator becomes the list items
d = 'Halyusa, Ard, Wahyudi'
print(d.split(','))

HALYUSA
halyusa
Halyusa
Hilyusi
['Halyusa', ' Ard', ' Wahyudi']

In [ ]:
# string concatenation
# concat or combine two strings
a = 'Halyusa'
b = 'Ard'
c = a + ' ' + b
print(c)

Halyusa Ard

In [ ]:
# F-Strings
# i can combine strings and numbers by using f-strings or format() method

fav_num = 16

txt = f'My favorite number is {fav_num}'
print(txt)

# the place holder {placeholder}, can also include a modifier to format the value
txt1 = f'My favorite number is {fav_num:.2f}'
print(txt1)

# placeholder can also contain a code
txt2 = f'My favorite number is {fav_num * 12}'
print(txt2)

My favorite number is 16
My favorite number is 16.00
My favorite number is 192

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Booleans

In [ ]:
# when comparing two values, the expression is evaluated and py will returns boolean
print(16 > 10)
print(10 == 10)
print(16 < 10)

True
True
False

In [ ]:
a = 16
b = 10

if a < b:
  print(f'Yes, {a} is smaller than {b}')
else:
  print(f'No, {a} is not smaller than {b}')

No, 16 is not smaller than 10

In [ ]:
a = 16
print(isinstance(a, int))

True

In [ ]:
# most values are True: string, int, list, etc.
# the ones that will return False is: False, empty string, 0, empty list, None, etc.

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

## Lists and Friends

In [ ]:
# there are 4 built in data types in python used for storing collections of data:
# List, Tuple, Set, and Dictionary

In [ ]:
# List is a collection which is ordered and changeable. Allows duplicate members.

In [ ]:
listku = ['apel', 'pisang', 'melon', 'apel']

print(listku)
print('Isi listku adalah: ', listku)
print('Type dari listku adalah: ', type(listku))
print('Panjang listku adalah: ', len(listku))

['apel', 'pisang', 'melon', 'apel']
Isi listku adalah:  ['apel', 'pisang', 'melon', 'apel']
Type dari listku adalah:  <class 'list'>
Panjang listku adalah:  4

In [ ]:
# accessing list
listku = ['alpukat', 'pisang', 'melon', 'alpukat']

print(listku[1])    # access items
print(listku[-1])   # it can be negative indexed too
print(listku[1:3])  # it can uses range of indexes too
print(listku[:3])
print(listku[1:])

if 'alpukat' in listku:
  print('Yes, "alpukat" is in listku')

pisang
alpukat
['pisang', 'melon']
['alpukat', 'pisang', 'melon']
['pisang', 'melon', 'alpukat']
Yes, "alpukat" is in listku

In [ ]:
# changing list items
listku = ['alpukat', 'pisang', 'melon', 'alpukat']

listku[1] = 'semangka'
print(listku)

['alpukat', 'semangka', 'melon', 'alpukat']

In [ ]:
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
# Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
# the values cannot be changed, but can be removed and added

In [ ]:
# Dictionary is a collection which is ordered and changeable. No duplicate members.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x == "banana"]
print(newlist)

['banana']